# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science

## Author
Mikhail Gorlo

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Plotly
4. ggplot2
5. TensorFlow

| Data Science Tools |
| --- |
| IBM DB2 |
| Hadoop |
| Apache Superset |

### Below are a few example of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60

200 / 60

3.3333333333333335